<?xml version="1.0"?>

<config>
    <modules>
        <Lemonline_Livezhat>
            <version>0.1.0</version>
        </Lemonline_Livezhat>
    </modules>
    <global>
        <models>
            <livezhat>
                <class>Lemonline_Livezhat_Model</class>
            </livezhat>
        </models>
        <blocks>
            <livezhat>
                <class>Lemonline_Livezhat_Block</class>
            </livezhat>
        </blocks>
        <helpers>
            <livezhat>
                <class>Lemonline_Livezhat_Helper</class>
            </livezhat>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <livezhat>
                    <files>
                        <default>Lemonline_Livezhat.csv</default>
                    </files>
                </livezhat>
            </modules>
        </translate>
        <layout>
            <updates>
                <livezhat>
                    <file>livezhat.xml</file>
                </livezhat>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <livezhat>
                    <files>
                        <default>Lemonline_Livezhat.csv</default>
                    </files>
                </livezhat>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <livezhat translate="title" module="livezhat">
                                            <title>Livezhat</title>
                                        </livezhat>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <livezhat before="Mage_Adminhtml">Lemonline_Livezhat_Adminhtml</livezhat>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
